.containerPessoa {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
}

.input {
  margin-bottom: 2%;
  border-radius: 4px;
}